$primario: #fff;
$secundario: #333;
$terciario: #FED033;
$fondo: #fbe6c2;
$texto: #fff;
$texto-secundario: #fff;
$font: 'Oswald', sans-serif;;
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-extra-bold:800;
